WebWCF/Service References/QuanLyUserServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuanLyUserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService.EF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuanLyUserService_ListUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ListUser" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_ListUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListUserResponse" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_FindByName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByName" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_FindByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_FindById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindById" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_FindById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_AddUserForFacebook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserForFacebook" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_AddUserForFacebook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserForFacebookResponse" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_FindByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByUsername" />
  </wsdl:message>
  <wsdl:message name="IQuanLyUserService_FindByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByUsernameResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuanLyUserService">
    <wsdl:operation name="ListUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyUserService/ListUser" message="tns:IQuanLyUserService_ListUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyUserService/ListUserResponse" message="tns:IQuanLyUserService_ListUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyUserService/FindByName" message="tns:IQuanLyUserService_FindByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyUserService/FindByNameResponse" message="tns:IQuanLyUserService_FindByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyUserService/Login" message="tns:IQuanLyUserService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyUserService/LoginResponse" message="tns:IQuanLyUserService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindById">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyUserService/FindById" message="tns:IQuanLyUserService_FindById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyUserService/FindByIdResponse" message="tns:IQuanLyUserService_FindById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyUserService/AddUser" message="tns:IQuanLyUserService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyUserService/AddUserResponse" message="tns:IQuanLyUserService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserForFacebook">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyUserService/AddUserForFacebook" message="tns:IQuanLyUserService_AddUserForFacebook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyUserService/AddUserForFacebookResponse" message="tns:IQuanLyUserService_AddUserForFacebook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyUserService/UpdateUser" message="tns:IQuanLyUserService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyUserService/UpdateUserResponse" message="tns:IQuanLyUserService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyUserService/FindByUsername" message="tns:IQuanLyUserService_FindByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyUserService/FindByUsernameResponse" message="tns:IQuanLyUserService_FindByUsername_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuanLyUserService" type="tns:IQuanLyUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListUser">
      <soap:operation soapAction="http://tempuri.org/IQuanLyUserService/ListUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByName">
      <soap:operation soapAction="http://tempuri.org/IQuanLyUserService/FindByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IQuanLyUserService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindById">
      <soap:operation soapAction="http://tempuri.org/IQuanLyUserService/FindById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IQuanLyUserService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserForFacebook">
      <soap:operation soapAction="http://tempuri.org/IQuanLyUserService/AddUserForFacebook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IQuanLyUserService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByUsername">
      <soap:operation soapAction="http://tempuri.org/IQuanLyUserService/FindByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuanLyUserService">
    <wsdl:port name="BasicHttpBinding_IQuanLyUserService" binding="tns:BasicHttpBinding_IQuanLyUserService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/QuanLyUserService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>