WebWCF/Service References/SanPhamServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SanPhamService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService.EF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISanPhamService_ShowListProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowListProduct" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService_ShowListProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowListProductResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService_FindByID_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByID" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService_FindByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService_FindByName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByName" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService_FindByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService_FindByManu_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByManu" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService_FindByManu_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByManuResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ISanPhamService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ISanPhamService">
    <wsdl:operation name="ShowListProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService/ShowListProduct" message="tns:ISanPhamService_ShowListProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService/ShowListProductResponse" message="tns:ISanPhamService_ShowListProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService/FindByID" message="tns:ISanPhamService_FindByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService/FindByIDResponse" message="tns:ISanPhamService_FindByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService/AddProduct" message="tns:ISanPhamService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService/AddProductResponse" message="tns:ISanPhamService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService/UpdateProduct" message="tns:ISanPhamService_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService/UpdateProductResponse" message="tns:ISanPhamService_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService/FindByName" message="tns:ISanPhamService_FindByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService/FindByNameResponse" message="tns:ISanPhamService_FindByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByManu">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService/FindByManu" message="tns:ISanPhamService_FindByManu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService/FindByManuResponse" message="tns:ISanPhamService_FindByManu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPhamService/Delete" message="tns:ISanPhamService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPhamService/DeleteResponse" message="tns:ISanPhamService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISanPhamService" type="tns:ISanPhamService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowListProduct">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService/ShowListProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByID">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService/FindByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByName">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService/FindByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByManu">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService/FindByManu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ISanPhamService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SanPhamService">
    <wsdl:port name="BasicHttpBinding_ISanPhamService" binding="tns:BasicHttpBinding_ISanPhamService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/SanPhamService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>