WebWCF/Service References/QuanLyDonHangServiceReference/WcfService.EF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.EF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.EF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDonDH">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DonDH" nillable="true" type="tns:DonDH" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDonDH" nillable="true" type="tns:ArrayOfDonDH" />
  <xs:complexType name="DonDH">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GhiChu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaDonDH" type="xs:int" />
      <xs:element minOccurs="0" name="MaKhachHang" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NgayDat" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NgayGiao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TinhTrang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TongTien" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DonDH" nillable="true" type="tns:DonDH" />
</xs:schema>