WebWCF/Service References/QuanLyNhaSXServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuanLyNhaSxService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService.EF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuanLyNhaSxService_HienThiNhaSX_InputMessage">
    <wsdl:part name="parameters" element="tns:HienThiNhaSX" />
  </wsdl:message>
  <wsdl:message name="IQuanLyNhaSxService_HienThiNhaSX_OutputMessage">
    <wsdl:part name="parameters" element="tns:HienThiNhaSXResponse" />
  </wsdl:message>
  <wsdl:message name="IQuanLyNhaSxService_Them_InputMessage">
    <wsdl:part name="parameters" element="tns:Them" />
  </wsdl:message>
  <wsdl:message name="IQuanLyNhaSxService_Them_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemResponse" />
  </wsdl:message>
  <wsdl:message name="IQuanLyNhaSxService_Sua_InputMessage">
    <wsdl:part name="parameters" element="tns:Sua" />
  </wsdl:message>
  <wsdl:message name="IQuanLyNhaSxService_Sua_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaResponse" />
  </wsdl:message>
  <wsdl:message name="IQuanLyNhaSxService_Xoa_InputMessage">
    <wsdl:part name="parameters" element="tns:Xoa" />
  </wsdl:message>
  <wsdl:message name="IQuanLyNhaSxService_Xoa_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuanLyNhaSxService">
    <wsdl:operation name="HienThiNhaSX">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyNhaSxService/HienThiNhaSX" message="tns:IQuanLyNhaSxService_HienThiNhaSX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyNhaSxService/HienThiNhaSXResponse" message="tns:IQuanLyNhaSxService_HienThiNhaSX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Them">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyNhaSxService/Them" message="tns:IQuanLyNhaSxService_Them_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyNhaSxService/ThemResponse" message="tns:IQuanLyNhaSxService_Them_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sua">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyNhaSxService/Sua" message="tns:IQuanLyNhaSxService_Sua_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyNhaSxService/SuaResponse" message="tns:IQuanLyNhaSxService_Sua_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Xoa">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyNhaSxService/Xoa" message="tns:IQuanLyNhaSxService_Xoa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyNhaSxService/XoaResponse" message="tns:IQuanLyNhaSxService_Xoa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuanLyNhaSxService" type="tns:IQuanLyNhaSxService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HienThiNhaSX">
      <soap:operation soapAction="http://tempuri.org/IQuanLyNhaSxService/HienThiNhaSX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Them">
      <soap:operation soapAction="http://tempuri.org/IQuanLyNhaSxService/Them" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sua">
      <soap:operation soapAction="http://tempuri.org/IQuanLyNhaSxService/Sua" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Xoa">
      <soap:operation soapAction="http://tempuri.org/IQuanLyNhaSxService/Xoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuanLyNhaSxService">
    <wsdl:port name="BasicHttpBinding_IQuanLyNhaSxService" binding="tns:BasicHttpBinding_IQuanLyNhaSxService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/QuanLyNhaSxService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>