WebWCF/Service References/QuanLyNhaSXServiceReference/WcfService.EF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.EF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.EF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNhaSX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NhaSX" nillable="true" type="tns:NhaSX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNhaSX" nillable="true" type="tns:ArrayOfNhaSX" />
  <xs:complexType name="NhaSX">
    <xs:sequence>
      <xs:element minOccurs="0" name="NhaSX_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SanPhams" nillable="true" type="tns:ArrayOfSanPham" />
      <xs:element minOccurs="0" name="TenNhaSX" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NhaSX" nillable="true" type="tns:NhaSX" />
  <xs:complexType name="ArrayOfSanPham">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SanPham" nillable="true" type="tns:SanPham" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSanPham" nillable="true" type="tns:ArrayOfSanPham" />
  <xs:complexType name="SanPham">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DonGia" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Hinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manhinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NhaSX_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="TenSP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SanPham" nillable="true" type="tns:SanPham" />
</xs:schema>