Winform/Service References/QuanLyNhaSXServiceReference/WcfService.EF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.EF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.EF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNhaSX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NhaSX" nillable="true" type="tns:NhaSX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNhaSX" nillable="true" type="tns:ArrayOfNhaSX" />
  <xs:complexType name="NhaSX">
    <xs:sequence>
      <xs:element minOccurs="0" name="NhaSX_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SanPhams" nillable="true" type="tns:ArrayOfSanPham" />
      <xs:element minOccurs="0" name="TenNhaSX" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NhaSX" nillable="true" type="tns:NhaSX" />
  <xs:complexType name="ArrayOfSanPham">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SanPham" nillable="true" type="tns:SanPham" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSanPham" nillable="true" type="tns:ArrayOfSanPham" />
  <xs:complexType name="SanPham">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CT_DonDH" nillable="true" type="tns:ArrayOfCT_DonDH" />
      <xs:element minOccurs="0" name="CT_PhieuNhap" nillable="true" type="tns:ArrayOfCT_PhieuNhap" />
      <xs:element minOccurs="0" name="DonGia" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Hinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manhinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NhaSX" nillable="true" type="tns:NhaSX" />
      <xs:element minOccurs="0" name="NhaSX_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="TenSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TonKhoes" nillable="true" type="tns:ArrayOfTonKho" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SanPham" nillable="true" type="tns:SanPham" />
  <xs:complexType name="ArrayOfCT_DonDH">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CT_DonDH" nillable="true" type="tns:CT_DonDH" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCT_DonDH" nillable="true" type="tns:ArrayOfCT_DonDH" />
  <xs:complexType name="CT_DonDH">
    <xs:sequence>
      <xs:element minOccurs="0" name="DonDH" nillable="true" type="tns:DonDH" />
      <xs:element minOccurs="0" name="DonGiaDat" type="xs:int" />
      <xs:element minOccurs="0" name="MaDonDH" type="xs:int" />
      <xs:element minOccurs="0" name="SP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SanPham" nillable="true" type="tns:SanPham" />
      <xs:element minOccurs="0" name="SoLuongDat" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CT_DonDH" nillable="true" type="tns:CT_DonDH" />
  <xs:complexType name="DonDH">
    <xs:sequence>
      <xs:element minOccurs="0" name="CT_DonDH" nillable="true" type="tns:ArrayOfCT_DonDH" />
      <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GhiChu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KhachHang" nillable="true" type="tns:KhachHang" />
      <xs:element minOccurs="0" name="MaDonDH" type="xs:int" />
      <xs:element minOccurs="0" name="MaKhachHang" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NgayDat" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NgayGiao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TinhTrang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TongTien" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DonDH" nillable="true" type="tns:DonDH" />
  <xs:complexType name="KhachHang">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DonDHs" nillable="true" type="tns:ArrayOfDonDH" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaKhachHang" type="xs:int" />
      <xs:element minOccurs="0" name="MatKhau" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerId" type="xs:int" />
      <xs:element minOccurs="0" name="SoDienThoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenDangNhap" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KhachHang" nillable="true" type="tns:KhachHang" />
  <xs:complexType name="ArrayOfDonDH">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DonDH" nillable="true" type="tns:DonDH" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDonDH" nillable="true" type="tns:ArrayOfDonDH" />
  <xs:complexType name="ArrayOfCT_PhieuNhap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CT_PhieuNhap" nillable="true" type="tns:CT_PhieuNhap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCT_PhieuNhap" nillable="true" type="tns:ArrayOfCT_PhieuNhap" />
  <xs:complexType name="CT_PhieuNhap">
    <xs:sequence>
      <xs:element minOccurs="0" name="DonGiaNhap" type="xs:int" />
      <xs:element minOccurs="0" name="MaPhieuNhap" type="xs:int" />
      <xs:element minOccurs="0" name="PhieuNhap" nillable="true" type="tns:PhieuNhap" />
      <xs:element minOccurs="0" name="SP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SanPham" nillable="true" type="tns:SanPham" />
      <xs:element minOccurs="0" name="SoLuongNhap" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CT_PhieuNhap" nillable="true" type="tns:CT_PhieuNhap" />
  <xs:complexType name="PhieuNhap">
    <xs:sequence>
      <xs:element minOccurs="0" name="CT_PhieuNhap" nillable="true" type="tns:CT_PhieuNhap" />
      <xs:element minOccurs="0" name="MaPhieuNhap" type="xs:int" />
      <xs:element minOccurs="0" name="NgayNhap" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TongTien" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhieuNhap" nillable="true" type="tns:PhieuNhap" />
  <xs:complexType name="ArrayOfTonKho">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TonKho" nillable="true" type="tns:TonKho" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTonKho" nillable="true" type="tns:ArrayOfTonKho" />
  <xs:complexType name="TonKho">
    <xs:sequence>
      <xs:element minOccurs="0" name="SP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SanPham" nillable="true" type="tns:SanPham" />
      <xs:element minOccurs="0" name="SoLuongTon" type="xs:int" />
      <xs:element minOccurs="0" name="ThoiGian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TonKho" nillable="true" type="tns:TonKho" />
</xs:schema>