Winform/Service References/CT_DHServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CT_DHService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService.EF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICT_DHService_HienThiCT_DonDH_InputMessage">
    <wsdl:part name="parameters" element="tns:HienThiCT_DonDH" />
  </wsdl:message>
  <wsdl:message name="ICT_DHService_HienThiCT_DonDH_OutputMessage">
    <wsdl:part name="parameters" element="tns:HienThiCT_DonDHResponse" />
  </wsdl:message>
  <wsdl:message name="ICT_DHService_Xoa_InputMessage">
    <wsdl:part name="parameters" element="tns:Xoa" />
  </wsdl:message>
  <wsdl:message name="ICT_DHService_Xoa_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaResponse" />
  </wsdl:message>
  <wsdl:portType name="ICT_DHService">
    <wsdl:operation name="HienThiCT_DonDH">
      <wsdl:input wsaw:Action="http://tempuri.org/ICT_DHService/HienThiCT_DonDH" message="tns:ICT_DHService_HienThiCT_DonDH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICT_DHService/HienThiCT_DonDHResponse" message="tns:ICT_DHService_HienThiCT_DonDH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Xoa">
      <wsdl:input wsaw:Action="http://tempuri.org/ICT_DHService/Xoa" message="tns:ICT_DHService_Xoa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICT_DHService/XoaResponse" message="tns:ICT_DHService_Xoa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICT_DHService" type="tns:ICT_DHService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HienThiCT_DonDH">
      <soap:operation soapAction="http://tempuri.org/ICT_DHService/HienThiCT_DonDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Xoa">
      <soap:operation soapAction="http://tempuri.org/ICT_DHService/Xoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CT_DHService">
    <wsdl:port name="BasicHttpBinding_ICT_DHService" binding="tns:BasicHttpBinding_ICT_DHService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/CT_DHService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>